* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gulim';
}

body {
  margin: 0;
  background: #1B1A1A;
  color: #FFFEF7;
  font-family:'Gulim';
}

@font-face {
  font-family: 'Gulim';
  src: url('../gulim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #1B1A1A;
  color: #FFFEF7;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-area {
  text-align: center;
}

.title-area h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 30px;
}

button {
  padding: 12px 30px;
  border-radius: 999px;
  border: 1px solid white;
  background: transparent;
  color: #FFFEF7;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #FFFEF7;
  color: #1B1A1A;
}
