body {
  margin: 0;
  background: #1B1A1A;
  color: #FFFEF7;
  font-family:'Gulim';
}

@font-face {
  font-family: 'Gulim';
  src: url('../gulim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.screen.info {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 3vh 3vw;
  box-sizing: border-box;
}

/* 사건설명 텍스트 */
.label {
  position: absolute;
  top: 43vh;
  left: 6vw;
  opacity: 0.5;
  font-size: 50px;
}

/* 본문 텍스트 */
.story-text {
  position: absolute;
  top: 45vh;
  left: 6vw;
  max-width: 70vw;
  font-size: 60px;
  line-height: 1.6;
}

/* ▶ 다음 버튼 */
.next-btn {
  position: absolute;
  bottom: 1350px;
  right: 1500px;

  width: 0;
  height: 0;

  border-top: 3vh solid transparent;
  border-bottom: 3vh solid transparent;
  border-left: 3vw solid #aaa;

  background: none;
  cursor: pointer;
  opacity: 0.6;
}

.next-btn:hover {
  opacity: 1;
}

/* ===========================
   🔻 하단 광고 배너
=========================== */

.ad-frame {
    position: absolute;
    top: 80px;              /* 원하는 위치 */
    left: 100px;

    width: 660px;
    height: 180px;

    overflow: hidden;       /* 🔥 잘림 효과 핵심 */
    border: 2px solid #FFFEF7;
    cursor: pointer;
}

.ad-thumb {
    width: 120%;
    transform: translateX(-18%) scale(1.1);
    transition: transform 0.4s ease;
}

.ad-frame:hover .ad-thumb {
    transform: translateX(-5%) scale(1.15);
}

.ad-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;

    z-index: 9999;
}

/* 열렸을 때 */
.ad-modal.show {
    opacity: 1;
    visibility: visible;
}

.ad-full {
    max-width: 80vw;
    max-height: 80vh;

    transform: scale(0.8);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* 등장 애니메이션 */
.ad-modal.show .ad-full {
    transform: scale(1);
}

.ad-close {
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
