body {
  margin: 0;
  background: #1B1A1A;
  color: #FFFEF7;
  font-family:'Gulim';
}

@font-face {
  font-family: 'Gulim';
  src: url('../gulim.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.screen.info {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 3vh 3vw;
  box-sizing: border-box;
}

/* 사건설명 텍스트 */
.label {
  position: absolute;
  top: 20px;
  left: 120px;
  opacity: 0.5;
  font-size: 30px;
}

/* 본문 텍스트 */
.story-text {
  position: absolute;
  top: 40vh;
  left: 10vw;
  max-width: 70vw;
  font-size: 1.5vw;
  line-height: 1.6;
}

/* ▶ 다음 버튼 */
.next-btn {
  position: absolute;
  bottom: 40px;
  right: 40px;

  width: 0;
  height: 0;

  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid #aaa;

  background: none;
  cursor: pointer;
  opacity: 0.6;
}

.next-btn:hover {
  opacity: 1;
}
